@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.2);
          box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.2);
}
.header__top {
  background: rgb(69, 79, 91);
}
.header__top .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0;
}
@media (min-width: 600px) {
  .header__top .top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header__top h2 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 12%;
  text-align: left;
  text-align: center;
}
.header__top p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 12%;
  text-align: left;
  text-decoration-line: underline;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}
.nav__list {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
@media (min-width: 900px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav__link {
  color: rgb(22, 28, 36);
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.nav__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}
.nav__end a {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(69, 79, 91);
  font-family: SF Pro Display;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  gap: 5px;
}
@media (min-width: 420px) {
  .nav__end a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#footer {
  -webkit-box-shadow: inset 0px 1px 0px 0px rgb(196, 205, 213);
          box-shadow: inset 0px 1px 0px 0px rgb(196, 205, 213);
  background: rgb(13, 36, 54);
}

.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  padding: 60px 0;
  row-gap: 100px;
}
@media (min-width: 340px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 540px) {
  .footer {
    grid-template-columns: repeat(13, 1fr);
  }
}
@media (min-width: 840px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1100px) {
  .footer {
    grid-template-columns: repeat(5, 1fr);
  }
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer__link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__links {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.footer__end {
  color: rgb(255, 255, 255);
  text-align: center;
  border-top: 1px solid rgb(255, 255, 255);
  opacity: 0.08;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#row {
  padding-top: 150px;
}

.line__cramp {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  color: rgb(20, 20, 20);
  text-align: left;
}
.line__cramp span {
  color: rgb(157, 157, 157);
}

.line__title {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
  margin: 40px 0 60px 0;
}
.line__title span {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 30px;
  margin-bottom: 70px;
}
@media (min-width: 550px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 850px) {
  .row {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1050px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
  }
}
.row .card {
  -webkit-box-shadow: inset -1px 0px 0px 0px rgb(234, 234, 234), inset 1px 0px 0px 0px rgb(234, 234, 234), inset 0px -1px 0px 0px rgb(234, 234, 234);
          box-shadow: inset -1px 0px 0px 0px rgb(234, 234, 234), inset 1px 0px 0px 0px rgb(234, 234, 234), inset 0px -1px 0px 0px rgb(234, 234, 234);
  background: rgb(255, 255, 255);
  max-width: 288px;
  overflow: hidden;
  height: 100%;
}
.row .card__img {
  max-width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 246px;
  padding-left: 10px;
}
.row .card__body {
  padding: 10px 10px 15px 10px;
}
.row .card__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.row .card__star p {
  color: rgb(69, 79, 91);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
.row .card__text {
  color: rgb(69, 79, 91);
  max-width: 264px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin: 6px 0 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.row .card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.row .card__price h2 {
  color: rgb(22, 28, 36);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 85px;
}
.row .card__price p {
  color: rgb(69, 79, 91);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-bottom: 80px;
}
@media (min-width: 900px) {
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.about img {
  width: 100%;
}
.about__title {
  color: rgb(22, 28, 36);
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
}
.about__text {
  color: rgb(69, 79, 91);
  max-width: 605px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}
.about__check {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 16px;
  margin: 24px 0;
}
.about__check p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(22, 28, 36);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  gap: 10px;
}
.about__check p img {
  width: 17px;
}
.about__list {
  color: rgb(69, 79, 91);
  max-width: 605px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-bottom: 80px;
}
@media (min-width: 900px) {
  .blog {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.blog img {
  width: 100%;
}
.blog__title {
  color: rgb(22, 28, 36);
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
}
.blog__text {
  color: rgb(69, 79, 91);
  max-width: 605px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin: 24px 0 16px 0;
}
.blog__list {
  color: rgb(69, 79, 91);
  max-width: 605px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

#cantact {
  background: rgb(242, 248, 255);
}

.cantact {
  text-align: center;
  padding: 64px 0 56px 0;
}
.cantact__title {
  color: rgb(22, 28, 36);
  font-size: 44px;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: 0%;
}
.cantact__text {
  color: rgb(69, 79, 91);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  max-width: 518px;
  margin: 24px auto;
}
.cantact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
@media (min-width: 840px) {
  .cantact__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.cantact__form input {
  color: rgb(69, 79, 91);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  background: rgba(22, 28, 36, 0.04);
  border: none;
  padding: 12px 0 12px 16px;
  width: 240px;
}
.cantact__form button {
  color: rgb(255, 255, 255);
  padding: 12px 70px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  background: rgb(66, 149, 228);
}